/**
 * Timetable
 */

.timetable-theme {
	cursor: move;
}
.timetable-theme .timetable-scrollbar .slider-btn-bk,
.timetable-theme .timetable-scrollbar .slider-btn-fwd {
	width: 21px;
}
.timetable-theme .timetable-scrollbarLabels {
	color: #ccc;
}
.timetable-container .timetable-innerView .timetable-scale .timetable-scaleItem {
	color: #fff;
	padding: 0.5em;
	font-size: 16px;
}
.timetable-track-headers .timetable-header-holder {
	background: #010101;
}
.timetable-track-headers .timetable-header-holder .timetable-header-content {
	display: table;
	height: 100%;
	padding: 0;
}
.timetable-track-headers .timetable-header-holder .timetable-header-content .track {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	font-size: 16px;
}
.timetable-track-headers .timetable-header-holder .timetable-header-content .track h4 {
	font-size: 18px;
	padding: 0.5em;
	margin: 0;
	color: #ccc;
}
.timetable-trackList .timetable-itemContent {
	padding: 0.5em;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.timetable-trackList .timetable-itemContent h4 {
	color: white;
	font-size: 18px;
	margin: 0;
}
.timetable-trackList .timetable-itemContent .date {
	font-size: 14px;
}

